/* StartMenu */

.hero-section{
  background: 
   radial-gradient(ellipse at center, rgba(255,255,255,0.2) 0%,rgba(255,255,255,0) 100%),
   radial-gradient(ellipse at 70% 60%, rgba(195,224,96,1) 0%,rgba(195,224,96,0) 30%),
   radial-gradient(ellipse at bottom left, rgba(0,163,203,1) 0%, rgba(0,163,203,0) 70%),
   linear-gradient(135deg, rgba(18,46,119,0) 0%,rgba(18,46,119,0) 75%,rgba(18,46,119,1) 100%),
   linear-gradient(to right, rgba(98,87,147,1) 0%, rgba(213,93,100,1) 17%, rgba(228,145,41,1) 74%, rgba(192,103,28,1) 100%);
 background-blend-mode: 
    screen, 
    hue,
    color,
    overlay,
    normal;
}
.main{
  background-image: url(/public/assets/hero-two.jpeg);
  mask-image: linear-gradient(to bottom, transparent, #000),
  linear-gradient(to bottom, #000, transparent),
  linear-gradient(to bottom, transparent, #000),
  linear-gradient(to bottom, #000, transparent),
  linear-gradient(to bottom, transparent, #000);
  mask-size: 18% 70%;
  mask-position: 0 100%, 25% 25%, 50% 50%, 75% 0, 100% 50%;
  mask-repeat: no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;

}

.container{
  max-width: 1400px;
  padding-inline: 1.5rem;
  margin-inline: auto;
}

.main-box{
  padding-block-start: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.startButton{
  padding: 1.5rem 2rem;
  text-transform: uppercase;
  font-size: clamp(16px, 100vw / 12.5, 32px);
  color: white;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  min-width: 200px;
  background-color: tomato;
  position: relative;
  z-index: 10;
  box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
  0 2px 2px rgba(0,0,0,0.12), 
  0 4px 4px rgba(0,0,0,0.12), 
  0 8px 8px rgba(0,0,0,0.12),
  0 16px 16px rgba(0,0,0,0.12);
}

/* StartMenu */

/* Battle */

.user,
.opponent {
  gap: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 25px;
  box-sizing: border-box;
}
.hud {
  gap: 25px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.hudChild {
  flex: 1;
  height: 200px;
}
.gameHeader {
  font-size: 48px;
  color: #fdac00;
  text-shadow: 0px 0px 5px #7f0000;
  font-family: 'Press Start 2P', cursive;
}
.summary {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.opponent .summary {
  align-items: flex-start;
  justify-content: flex-end;
}
.characters {
  width: 100%;
  text-align: center;
}
.gameImages {
  display: flex;
  justify-content: space-between;
  padding: 25px;
  box-sizing: border-box;
}

.characters .gameImages img {
  max-height: 25vh;
  min-height: 150px;
}

.static {
  transform: translateX(0px);
  transform: translateY(0px);
  transition: 0.5s;
}

.playerSprite .attack {
  transition: 0.1s;
  transform: translateX(100px);
}
.opponentSprite .attack {
  transition: 0.1s;
  transform: translateX(-100px);
}

.magic {
  transition: 0.2s;
  transform: translateY(-25px);
  animation: shake 0.5s infinite;
}

.damage {
  opacity: 1;
  animation: flash 0.3s 0.3s infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg) translateY(-25px);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg) translateY(-25px);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg) translateY(-25px);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg) translateY(-25px);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg) translateY(-25px);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg) translateY(-25px);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg) translateY(-25px);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg) translateY(-25px);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg) translateY(-25px);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg) translateY(-25px);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg) translateY(-25px);
  }
}

@keyframes flash {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}



/* Battle */

/* PlayerSummary */

.player-sum-box{
  padding: 2rem;
  border-radius: 10px;
  font-size: 40px;
  color: white;
}






/* PlayerSummary */

/* Bar */

.bar-main{
  display: flex;
  border-radius: 5px;
  gap: 5px;
  padding: 5px;
  align-items: center;
  background-color: white;
}

.bar-label{
  font-size: 32px;
  font-weight: bold;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 50px;
  color: black;
}

.bar-max{
  height: 35px;
  border-radius: 5px;
  overflow: hidden;
  box-sizing: border-box;
  flex: 1;
  background-color: lightgray;
}

.bar-value{
  height: 100%;
  background-color: #0566fa;
  transition: 0.35s;
}



/* Bar */


/* BattleMenu */

.battle-menu-main{
  border-radius: 10px;
  height: 100%;

  gap: 10px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.battle-menu-main > :first-child {
  grid-column-start: 1;
  grid-column-end: 3;
}

.battle-menu-option {
  display: flex;
  border-radius: 5px;
  border: 1px solid black;

  background-color: #821400;

  align-items: center;
  justify-content: center;
  color: white;
  font-size: 24px;

  cursor: pointer;
}

.battle-menu-option:hover {
  background-color: #fd9401;
}


/* BattleMenu */
.battle-announcer-main{
  height: 100%;
  padding: 25px;
  border-radius: 10px;
  box-sizing: border-box;

  color: white;

  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  background-color: #1953cb;
}
.message {
  text-align: center;
  font-size: 32px;
}

/* BattleAnnouncer */


















/* BattleAnnouncer */

